/* HEADER */
.Container {
  display: flex;
  margin-left: 1000px;
  margin-top: 20px;
}
.Container1 {
  margin-right: 10px;
}
.Container2 {
  margin-right: 10px;
  font-weight: bold;
}
.Container3 {
  margin-top: 15px;
}
.Container3 a {
  color: blue;
  text-decoration: none;
}
.Container3 a:hover {
  text-decoration: underline;
}

/**********************************************NAV-BAR**********************************************/
.navBar {
  margin-left: 230px;
  margin-top: 30px;
}
.navContener {
  display: flex;
}
.navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navBar ul li {
  list-style: none;
  text-align: center;
  float: left;
  width: 90px;
  margin-right: 10px;
  height: 40px;
  line-height: 40px;
}
.navBar ul li a {
  text-decoration: none;
  display: block;
  font-size: 1.1em;
  color: black;
}

.navBar ul li a:hover {
  background-color: rgb(38, 151, 204);
  color: white;
  transition: 0.9s;
}
.navBar ul li ul li {
  display: none;
}

.navBar ul li:hover ul li {
  display: block;
  background-color: rgb(38, 151, 204);
  padding-left: 5px;
  padding-right: 80px;
  transition: 0.4s;
}

/***********************************************SECTION 1******************************************/
.homepage {
  height: 450px;
  text-align: center;
  border: 1px solid rgb(249, 251, 253);
  background-image: url(img/home.jpg);
  width: 130%;
  background-repeat: no-repeat;
  /* background-position: center; */
  /* margin-top: 20px; */
  /* background-size: 70%; */
  /* background-color: rgb(236, 244, 252); */
}
.homepage h3 {
  margin-top: 140px;
  color: rgb(49, 119, 151);
  font-size: 4em;
  text-shadow: rgb(30, 164, 226);
}
/***********************************************SECTION 2*******************************************/
.Container-row {
  margin: 50px;
  display: flex;
  margin-top: 40px;
}
.row1 {
  padding: 10px;
  margin-right: 60px;
  margin-left: 20px;
}
.row1 h1 {
  color: blue;
  font-size: 2em;
  font-weight: bold;
}
.row2 {
  margin-right: 60px;
}
.row2 h2 {
  border: 1.5px solid blue;
  padding-right: 250px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-top: 10px;
  color: blue;
}
.row3 {
  margin-left: 100px;
}
.row3 p {
  color: rgb(29, 177, 177);
  font-size: 2em;
}

/* ***************************************PAGE  SUPPORT***************************************/
.container-home {
  margin: 0;
  display: flex;
  padding: 20px;
  background-color: rgb(224, 226, 228);
}
.home1 a {
  margin-left: 30px;
  text-decoration: none;
}
.home2 {
  margin-left: 10px;
}

.home3 a {
  margin-left: 10px;
  text-decoration: none;
}
.support {
  display: flex;
}
.container-support1 {
  margin: 30px;
  margin-left: 50px;
}
.container-support2 {
  margin: 20px;
  width: 18%;
  padding: 30px;
  margin-left: 250px;
  background-color: rgb(235, 229, 229);
}
.container-support2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container-support2 ul li {
  width: 90px;
  height: 40px;
}
.container-support2 ul li a {
  text-decoration: none;
  color: black;
}
.container-support2 ul li a:hover {
  color: blue;
  font-weight: bold;
  font-size: 1 em;
}
.container-support2 h2 {
  color: blue;
}

.support1 {
  margin: 10px;
  margin-bottom: 50px;
  font-weight: bold;
}
.support1 span {
  margin-top: 10px;
}
.support1 span a {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  background-color: cadetblue;
  color: white;
}
.support1 span a:hover {
  background-color: blue;
}
.support2 {
  margin: 10px;
  font-weight: bold;
}
.support2 span {
  margin-top: 10px;
}
.support2 span a {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  background-color: cadetblue;
  color: white;
}
.support2 span a:hover {
  background-color: blue;
}
