/* HEADER */
.Container {
  display: flex;
  margin-left: 1000px;
  margin-top: 20px;
}
.Container1 {
  margin-right: 10px;
}
.Container2 {
  margin-right: 10px;
  font-weight: bold;
}
.Container3 {
  margin-top: 15px;
}
.Container3 a {
  color: blue;
  text-decoration: none;
}
.Container3 a:hover {
  text-decoration: underline;
}

/**********************************************NAV-BAR**********************************************/
.navBar {
  margin-left: 230px;
  margin-top: 30px;
}
.navContainer {
  display: flex;
}
.navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navBar ul li {
  list-style: none;
  text-align: center;
  float: left;
  width: 90px;
  margin-right: 10px;
  height: 40px;
  line-height: 40px;
}
.navBar ul li a {
  text-decoration: none;
  display: block;
  font-size: 1.1em;
  color: black;
}

.navBar ul li a:hover {
  background-color: rgb(38, 151, 204);
  color: white;
  transition: 0.9s;
}
.navBar ul li ul li {
  display: none;
}

.navBar ul li:hover ul li {
  display: block;
  background-color: rgb(38, 151, 204);
  padding-left: 5px;
  padding-right: 80px;
  transition: 0.4s;
}

/***********************************************SECTION 1******************************************/
.homepage {
  height: 450px;
  border: 1px solid rgb(249, 251, 253);
  background-image: url(img/home.jpg);
  width: 130%;
  background-repeat: no-repeat;
}
.homepage h3 {
  margin-top: 140px;
  /* color: rgb(49, 119, 151); */
  color: white;
  font-size: 4em;
  text-shadow: rgb(30, 164, 226);
  margin-left: 560px;
}
/***********************************************SECTION 2*******************************************/
.Container-row {
  margin: 50px;
  display: flex;
  margin-top: 40px;
}
.row1 {
  padding: 10px;
  margin-right: 60px;
  margin-left: 20px;
}
.row1 h1 {
  color: blue;
  font-size: 2em;
  font-weight: bold;
}
.row2 {
  margin-right: 60px;
}
.row2 h2 {
  border: 1.5px solid blue;
  padding-right: 250px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-top: 10px;
  color: blue;
}
.row3 {
  margin-left: 100px;
}
.row3 p {
  color: rgb(29, 177, 177);
  font-size: 2em;
}


/***********************************************SECTION 3*******************************************/
.Container-section3 {
  line-height: 60px;
}
.row4 {
  background-color: #026487;
  float: left;
  width: 50%;
}
.row4 h3 {
  font-size: 1.9em;
  color: white;
  margin-left: 130px;
}
.row4 p {
  font-size: 1.2em;
  margin-left: 130px;
  color: white;
}
.row4 a{
  border:3px solid white;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 6px;
  font-size: 1.2em;
  margin-top: 150px;
  margin-bottom: 200px;
}
.row4 a:hover{
  background-color: white;
  color: blue;
  border: 3px solid black;
}
.row5 {
  background-color: rgb(247, 247, 248);
  float: left;
  width: 50%;
}
.row5 p {
  padding: 10px;
  margin-right: 60px;
  margin-left: 20px;
}

/* *************************************** PAGE SUPPORT  ********************************** */

.container-home {
  margin: 0;
  display: flex;
  padding: 20px;
  background-color: rgb(224, 226, 228);
}
.home1 a {
  margin-left: 30px;
  text-decoration: none;
}
.home2 {
  margin-left: 10px;
}

.home3 a {
  margin-left: 10px;
  text-decoration: none;
}
.support {
  display: flex;
}
.container-support1 {
  margin: 30px;
  margin-left: 50px;
}
.container-support2 {
  margin: 20px;
  width: 18%;
  padding: 30px;
  margin-left: 250px;
  background-color: rgb(235, 229, 229);
}
.container-support2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container-support2 ul li {
  width: 90px;
  height: 40px;
}
.container-support2 ul li a {
  text-decoration: none;
  color: black;
}
.container-support2 ul li a:hover {
  color: blue;
  font-weight: bold;
  font-size: 1 em;
}
.container-support2 h2 {
  color: blue;
}
.support1 {
  margin: 10px;
  margin-bottom: 50px;
  font-weight: bold;
}
.support1 span {
  margin-top: 10px;
}
.support1 span a {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  background-color: cadetblue;
  color: white;
}
.support1 span a:hover {
  background-color: blue;
}
.support2 {
  margin: 10px;
  font-weight: bold;
}
.support2 span {
  margin-top: 10px;
}
.support2 span a {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  background-color: cadetblue;
  color: white;
}
.support2 span a:hover {
  background-color: blue;
}

/* ******************************************   SECTION 3    ************************************** */

.container-section3 {
  box-shadow: #026487;
}
.container-section3 ul {
  display: flex;
  list-style: none;
}
.container-section3 ul li {
  text-decoration: none;
}
.container-section3 ul li a {
  text-decoration: none;
  margin-left: 50px;
  font-size: 1.2em;
  color: black;
  font-weight: bold;
}
.container-section3 ul .ul-1 {
  margin-left: 200px;
}
.container-section3 ul li a:hover {
  text-decoration: underline;
}

/* SEPARATOR */

.separator {
  width: 1000px;
  height: 1px;
  margin: 15px auto;
  display: block;
  background: #999999;
}

/* ********************************************  FOOTER   **********************************************/

.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-footer a {
  text-decoration: none;
  color: black;
}
.container-footer a:hover {
  text-decoration: underline;
}
.bar {
  margin-left: 10px;
  margin-right: 10px;
}

/* *************************************** PAGE  ABOUT  ***********************************************/

.container_about {
  display:  flex;
}
.container_about p {
  background-color: rgb(55, 55, 155);
  text-align: center;
  padding: 120px;
  font-size: 1.5em;
  color: white;
}
.container_about1 {
  width: 100%;
}
 .container_about img {
  margin-top: 23px;
}

.section_about {
  border: 1px solid white;
  margin: 100px;
}
.container_about_section {
  margin-left: 300px;
}
.container_about_section h1 {
  color: cadetblue;
  font-size: 2em;
}
.container_about_section h3 {
  color: aqua;
  font-size: 1.5em;
}
.container_about_section p {
  font-size: 1.2em;
} 
.separation {
  margin: 5px;
  margin-left: 300px;
  margin-right: 150px;
  border: 1.5px rgb(99, 91, 91) dashed;
}
.container_about_section a {
  text-decoration: none;
  font-size: 2em;
  color: cadetblue;
}
.container_about_section a:hover {
  text-decoration: underline;
}
/* ******************************   SECTION 2 PAGE CAREES  ********************************************/

.carees {
  border: 1px solid white;
  margin: 50px;
}
.carees p {
  /* text-align: center; */
  font-size: 2em;
  margin-left: 300px;
  color: rgb(78, 153, 128);
}
.separateur {
  border: 1px solid black;
  width: 100%;
  height: 15px;
  margin-bottom: 50px;
  display: block;
  background: rgb(20, 0, 500);
}

/* ***************************   SECTION 1 PAGE SOLUTION ******************************************** */

.separateur1 {
  border: 1px solid black;
  width: 100%;
  height: 15px;
  margin-bottom: 50px;
  display: block;
  background: rgb(20, 0, 500);
}
.all1 {
  border: 1px solid white;
  margin: 20px;
  margin-left: 100px;
}

/* *************************************   PAGE PARTENERS  ********************************************/
.partners {
  display: flex;
  margin: 20px;
  margin-left: 80px;
}
.partners h1 {
  font-size: 2.5em;
  color: blue;
}
.container_partners {
  display: flex;
}
.container_partners p {
  margin-right: 50px;
  font-size: 1.1em;
}

.container_partners1 {
  margin: 20px;
  width: 18%;
  padding: 30px;
  height: 1000%;
  margin-left: 200px;
  background-color: rgb(235, 229, 229);
}
.container_partners1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container_partners1 ul li {
  width: 90px;
  height: 40px;
}
.container_partners1 ul li a {
  text-decoration: none;
  color: black;
}
.container_partners1 ul li a:hover {
  color: blue;
  font-weight: bold;
  font-size: 1 em;
}
.container_partners1 h2 {
  color: blue;
}

/* ****************************************  CONTACT US     ********************************* */

.contact1{
  display: flex;
}
#containers {
  display: flex;
}
.container_h_p{
  margin-left: 60px;
}
.container_h_p h2{
  font-size: 1.8em;
  color: blue;
}
.container_h_p p{
  font-size: 1.2em;
}
.container {
  margin-top: 50px;
}
form {
  margin-left: 60px;
  margin-bottom: 50px;
  background-color: rgb(236, 230, 222);
}
.containerinput {
  margin: 10px;
  flex-wrap: wrap;
  margin-left: 50px;
}

.firstname {
  margin-right: 60px;
  margin-top: 20px;
}

.firstname input {
  height: 3.5em;
}
.name input {
  height: 3.5em;
}

.Email input {
  height: 3.5em;
}
.telephone input {
  height: 3.5em;
  margin-left: 52px;
}

.name {
  margin-top: 20px;
}
.container_input {
  margin-left: 10px;
}
.Email {
  margin-right: 60px;
  margin-left: 40px;
}
.inputcontenu {
  margin-top: 20px;
  margin-left: 10px;
}
.area textarea {
  margin-left: 40px;
}

.area button {
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 10px;
  font-weight: bold;
  color: white;
}
#btn:hover{
  color: white;
  font-weight: bold;
  border: 2px solid blue;
}
/* ******************************************  NWES  *************************************/
.news {
  display: flex;
}
.container_news {
  border: 1px solid white;
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 350px;
}
.container_news h1 {
  color: blue;
  font-size: 2em;
}
.container_news p {
  font-size: 1.5em;
}

/*****************************************  MEDIA QUERY REPONSIVE ******************************/
@media screen {
  
}